* {box-sizing:border-box;}
body {margin: 0;}

h1 {
    font-family: 'Avenir Next';
font-style: bold;
font-weight: 700;
font-size: 90px;
text-align: center;
margin: 0;
}

h2 {
    font-family:'Signika', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #086C70;
    text-align: left;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: left;
    padding-left: 20px;
    margin: auto;
    width: 1000px;
}
.about-title{
    flex:2;
}
.about-text{
    flex:1;
}

body {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin: auto;
    scrollbar-width: 0;
    background-color: #F9EAED;   

}

p {
    margin: auto;
    width: 800px;

}

.deli-menu {
    text-align: center;
    justify-content: right;
    margin-left: 40%;

}
.sal-menu {
    text-align: left;
    justify-content: center;
line-height: 10mm;
padding-left: 30%;
padding-right: 30%;
}
.sal-price {
    text-align: right;
    justify-content: center;
line-height: 10mm;
padding-left: 30%;
padding-right: 30%;
}
.branding {
  display: flex;
  align-items: baseline;
  justify-content:space-between;
}
.home-page nav { 
    display:flex;
    width: 100%;
}


.logo img {
  border-radius: 50%;
  margin: 20px;
  margin-bottom: -20px;
  flex: 25%;
  width: 80px;
}
nav {
  flex: 75%;
  margin-left: 50px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width:100%;
}
nav li {
  text-align: center;
  width: 100%;
  padding: 16px;
}
nav a {
  color: rgb(126, 78, 87);
  text-decoration: none;
}
nav a:hover {
  border-bottom: 1px solid black;
}
nav h2 {
    text-align:center;
}
.tabs {
    display:flex;
    justify-content: space-around;
    margin-top:40px;
    letter-spacing: 0.08em;
    text-decoration: none;
}
.tabs a {
    padding:10px;
border-radius: 3px;
text-decoration: none;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
  }

.slider {
    width: 105vw;
    height: 664px;
    overflow:hidden;
    margin: 0 auto;
    margin-left: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 
  
  .slide-content img {
    width: 100%;
  }
  
  
  /* for Sam G only */
  .slick-slide {
    margin: 8px;
    width: 220px;
  }