h1 {
    font-family: 'Avenir Next';
font-style: bold;
font-weight: 700;
font-size: 90px;
text-align: center;
margin: 0;
}

h2 {
    font-family:'Signika', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #086C70;
    text-align: left;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: left;
    padding-left: 20px;
    margin: auto;
    width: 1000px;
}
.about-title{
    flex:2;
}
.about-text{
    flex:1;
}

body {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin: auto;
    scrollbar-width: 0;
    background-color: #F9EAED;   

}

p {
    margin: auto;
    width: 800px;

}

.deli-menu {
    text-align: center;
    justify-content: right;
    margin-left: 40%;

}
.sal-menu {
    text-align: left;
    justify-content: center;
line-height: 10mm;
padding-left: 30%;
padding-right: 30%;
}
.sal-price {
    text-align: right;
    justify-content: center;
line-height: 10mm;
padding-left: 30%;
padding-right: 30%;
}

.home-page nav { 
    display:flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 100px auto; 
}
.home-page nav div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.tabs {
    display:flex;
    justify-content: space-around;
    margin-top:40px;
    letter-spacing: 0.08em;
    text-decoration: none;
}
.tabs a {
    padding:10px;
border-radius: 3px;
text-decoration: none;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
  }

.slider {
    width: 100vw;
    height: 664px;
    overflow:hidden;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 
  
  .slide-content img {
    width: 100%;
  }
  
  
  /* for Sam G only */
  .slick-slide {
    margin: 8px;
    width: 220px;
  }