*{box-sizing: border-box;}
h1 { 
color: rgb(0, 0, 0);    
font-family: 'Unlock';
font-size: 60px;
} 
img {
    width:100%;
}
#main-header{
    text-align: center;
    font-family: 'Lilita One';
font-style: normal;
font-weight: 400;
font-size: 45px;
    letter-spacing: 0.055em;
    background-color: rgb(238, 0, 0);
    color: white;
    padding: 25px;
    border: 1px solid black;

}
body {
    background-color:#EDBE41;
    font-family: 'Unlock';
    margin:0;
}
#main-footer{
    text-align: center;
    font-size: 18px;
}
.home-page nav { 
    display:flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto; 
}
.home-page nav div {
    flex:50%;
font-size: 40px;
}
.home-page a {
    display: flex; 
    align-items: center;
    color:black;
    text-decoration: none;
}
.home-page nav img {
    width: 45%;
}
.home-page .about {
width: 85%;
margin: auto;
}
